.adminutils-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:35px 0px;
}

.adminutils-menu{
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.adminutils-menu h2{
  margin: 0;
  color: #ffffff;
  background-color: #F2B541;
  width: 150px;
  height: 70px;
  padding-left: 20px;
  align-content: center;
}

.adminutils-menu a{
  text-decoration: none;
  color: #202020;
  padding: 10px 10px;
  transition: ease-in 0.3s;
}

.adminutils-menu a:hover{
  color: #ffffff;
  background-color: #F2B541;
}

.adminutils-content{
  display: flex;
  flex-direction: column;
  border-left: 2px solid #F2B541;
}

.adminutils-content h2{
  background-color: #202020;
  margin: 0;
  align-content: center;
  color: #ffffff;
  text-align: right;
  padding-right: 20px;
  height: 70px;
  width: 75vw;
}