@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.historyreview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.historyreview-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2b541;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.historyreview-row h1 {
  margin: 0;
  background-color: #202020;
  color: #ffffff;
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  text-align: center;
  align-content: center;
}

.historyreview-row-tanggal {
  margin: 0;
  padding: 5px 20px;
  border-right: 3px solid #202020;
  width: 180px;
  text-align: center;
}

.historyreview-row-jam {
  margin: 0;
  padding: 5px 20px;
  width: 150px;
  text-align: center;
}

.historyreview-row a {
  background-color: #202020;
  color: #ffffff;
  padding: 7px 30px;
  border-radius: 25px;
  text-decoration: none;
  transition: ease-in 0.3s;
}

.historyreview-row a:hover {
  background-color: #ffffff;
  color: #f2b541;
}

.historyreview-container > button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #f2b541;
  color: #ffffff;
  text-align: center;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.historyreview-container > button:hover {
  color: #ffffff;
  background-color: #202020;
}
