@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.formcreateuser-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.form-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2B541;
  padding: 35px;
  border-radius: 5px;
  gap: 10px;
}

.form-card h1{
  margin: 0;
  padding-bottom: 20px;
  color: #161616;
}

.form-card h4{
  margin: 0;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #161616;
}

.text{
  font-family: "Poppins", sans-serif;
  width: 300px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid;
}

.role-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.subrole{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.subrole h6{
  margin: 0;
  font-weight: 600;
}

.form-card button{
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #161616;
  border-radius: 20px;
  border: none;
  padding: 10px 25px;
  transition: ease-in 0.3s;
  margin-top: 40px;
}

.form-card button:hover{
  color: #F2B541;
  background-color: #ffffff;
}

.account-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2B541;
  padding: 35px;
  border-radius: 5px;
}

.account-card h1{
  color: #161616;
  margin: 0;
}

.account-card h3{
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 20px;
}

.account-card a{
  color: #ffffff;
  background-color: #161616;
  border-radius: 40px;
  text-decoration: none;
  padding: 10px 25px;
  transition: ease-in 0.3s;
  margin-top: 20px;
}

.account-card a:hover{
  color: #F2B541;
  background-color: #ffffff;
}

.hide{
  display: none;
}