.footer-container{
  background-color: #202020;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-container h1{
  font-weight: 400;
  color: #838383;
  margin: 0;
  font-size: 0.8rem;
}