.create{
  background-color: rgb(28, 64, 196);
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-bottom: 15px;
  transition: ease-in 0.3s;
  opacity: 100%;
}

.create:hover{
  opacity: 70%;
}

.tabel-kelas{
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  gap: 5px;
}

.row-kelas{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 5px;
  background-color: #F2B541;
  border-radius: 5px;
  padding: 20px 20px;
}

.nama-kelas{
  background-color: #202020;
  color: #ffffff;
  width: 150px;
  height: 150px;
  font-size: 5rem;
  margin: 0;
  align-content: center;
  text-align: center;
  border-radius: 5px;
}

.fasilitas{
  flex-grow: 1;
  max-width: 550px;
}

.fasilitas h2{
  margin: 0;
}

.fasilitas li{
  padding-left: 20px;
  max-width: 530px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.lastupdate{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.lastupdate h6{
  margin: 0;
  padding-bottom: 5px;
  font-size: 1rem;
  text-align: center;
}

.lastupdate h2{
  border-top: 2px solid #202020;
  margin: 0;
  font-weight: 900;
  margin-top: 10px;
  font-size: 1.3rem;
  text-align: center;
}

.edmv-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edmv-container button img{
  width: 40px;
}
.edmv-container button{
  width: 55px;
  height: 55px;
}

.ed{
  background-color: rgb(28, 64, 196);
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: ease-in 0.3s;
}

.ed:hover{
  opacity: 70%;
} 

.mv{
  background-color: rgb(196, 28, 28);
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: ease-in 0.3s;
}

.mv:hover{
  opacity: 70%;
}