.create{
  background-color: rgb(28, 64, 196);
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-bottom: 15px;
  transition: ease-in 0.3s;
  opacity: 100%;
}

.create:hover{
  opacity: 70%;
}

.tabel-user{
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.row h5{
  margin: 0;
}

.nama{
  background-color: #F2B541;
  color: #ffffff;
  height: 40px;
  flex-grow: 1;
  align-content: center;
  padding: 0px 10px;
}

.tanggal{
  background-color: #202020;
  color: #ffffff;
  height: 40px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  justify-content: center;
}

.role{
  background-color: rgb(28, 196, 62);
  color: #ffffff;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
}

.edit{
  background-color: rgb(28, 64, 196);
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.3s;
  opacity: 100%;
}

.edit:hover{
  opacity: 70%;
}

.edit img{
  width: 30px;
}

.trash{
  background-color: rgb(196, 28, 28);
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.3s;
  opacity: 100%;
}

.trash:hover{
  opacity: 70%;
}

.trash img{
  width: 30px;
}