.header-container{
  display: flex;
  background-color: #F2B541;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}

.header-container h1{
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
}

.header-container img{
  width: 25px;
  height: 25px;
}

.header-container a{
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  background-color: #F2B541;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  transition: ease-in 0.3s;
  border-radius: 50%;
  opacity: 100%;
}

.header-container a:hover{
  background-color: #202020;
  opacity: 70%;
}

