.header-container{
  display: flex;
  background-color: #F2B541;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}

.header-container h1{
  margin: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
}

.header-container img{
  width: 25px;
}