@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.formcc-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.formcc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2B541;
  padding: 20px;
  border-radius: 5PX;
}

.formcc-container h1{
  margin: 0;
}

.formcc-container h4{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
}

.formcc-container input{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  width: 70px;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
  border-radius: 5px;
  border: 0px solid;
}

.formcc-container button{
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #161616;
  border-radius: 20px;
  border: none;
  padding: 10px 25px;
  transition: ease-in 0.3s;
  margin-top: 40px;
}

.formcc-container button:hover{
  color: #F2B541;
  background-color: #ffffff;
}